body {
    margin: 0;
    background-color: #F3F3F3;
    font-family: sans-serif;
}

.Box-1 {
    background-color: #333333;
    color: #FFFFFF;
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 450px;
    position:
}
.box-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#H, #C, #A, #S {
    margin-right: 10px;
}

#Box-2{
    color: rgb(59, 42, 42);
    background-color: rgb(211, 58, 83);
}

.ho, .Se, .Co, .Ab{
    background-color: #FFFFFF;
    color: #333333;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border: white;
    border-radius: 15px;
    padding: 20px;
}

.foot{
    background-color: #333333;
    padding: 20px;
    color: #F2FFFF;
    text-align: center;
}